
html{
    background-image: url(../img/pkm_back.png);
    background-size: cover;
    margin: 0%;
}

body {
    margin-top: 0%;
    margin: auto;
    width: 80%;

    text-align: center;
    background-color: white;
}


header{
    z-index: 1;
    position: sticky;
    top: 0px;
    height: 50px;

    border-bottom: blueviolet solid 2px;
    background-image: url(../img/fondo-degradado.webp);
    background-size: cover;
}
nav>table:nth-of-type(1){
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    margin: 5% auto;
    padding: 10px;
    width: 500px;
    border: steelblue solid 3px;
}

table{

    margin: auto;
    text-align: justify;
}

hr{
    width: 80%;
}
